.table 
{
  width: 100%;
  
  
}
table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
 gap: 5px;
}

body
{
  text-align: center;
}


td:hover {
  background-color: #ffff99;
  transition: 0.6s;
  cursor: pointer;
}
